<!DOCTYPE html>
<html>
<head>
  <title>Starter Kit</title>
  <!-- bower:css -->
  <link rel="stylesheet" href="..//bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
</head>
<body>
<!-- injector:hbs -->
<!-- application.hbs -->
<script type="text/x-handlebars" data-template-name="application">
  <div class="container">
    <h2>Ember + Node Starter Kit</h2>
    {{outlet}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="things">
  <ul class="list-group">
    {{#each item in model}}
      <li class="list-group-item">{{item.name}} - {{item.description}}</li>
    {{/each}}
  </ul>
</script>
<!-- end template -->
<!-- endinjector -->

  <!-- bower:js -->
  <script src="..//bower_components/jquery/dist/jquery.js"></script>
  <script src="..//bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="..//bower_components/handlebars/handlebars.js"></script>
  <script src="..//bower_components/ember/ember.js"></script>
  <!-- endbower -->

  <!-- injector:js -->
  <script src="/app.js"></script>
  <script src="/controller.js"></script>
  <script src="/routes.js"></script>
  <!-- endinjector -->

  <script src="//localhost:35729/livereload.js"></script>
</body>
</html>