<script type="text/x-handlebars" data-template-name="application">
  <div class="container">
    <h2>Ember + Node Starter Kit</h2>
    {{outlet}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="things">
  <ul>
    {{#each item in model}}
      <li><h3>{{item.name}} - {{item.description}}</h3></li>
    {{/each}}
   </ul>
</script>