<script type="text/x-handlebars" data-template-name="application">
  <div class="container">
    <h2>Ember + Node Starter Kit</h2>
    {{outlet}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="things">
  <ul class="list-group">
    {{#each item in model}}
      <li class="list-group-item">{{item.name}} - {{item.description}}</li>
    {{/each}}
  </ul>
</script>